{% extends "base.html" %}

{% block title %}
Profile - FilmArt
{% endblock %}

{% block content %}
<header>
    <h1>Profile</h1>
    <p>Welcome, {{ user.username }}</p>
</header>

{% if user.profile_pic %}
    <div class="profile-picture">
        <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="Profile Picture" class="img-fluid">
    </div>
{% endif %}

<!-- Display Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Profile Picture Upload Form -->
<form id="profilePicForm" method="post" action="{{ url_for('auth.upload_profile_pic') }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="profile_pic">Upload Profile Picture</label>
        <input type="file" name="profile_pic" id="profile_pic" class="form-control">
    </div><br>
    <button type="submit" class="btn btn-secondary">Upload</button>
</form>

<!-- Name and Email Edit Form -->
<form id="nameEmailForm" method="POST" action="{{ url_for('views.update_name_email') }}">
    {{ name_email_form.hidden_tag() }}
    <div class="form-group">
        {{ name_email_form.username.label }} <br>
        {{ name_email_form.username(class='form-control') }}
        {% if name_email_form.username.errors %}
            {% for error in name_email_form.username.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ name_email_form.email.label }} <br>
        {{ name_email_form.email(class='form-control') }}
        {% if name_email_form.email.errors %}
            {% for error in name_email_form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ name_email_form.submit(class='btn btn-primary') }}
    </div>
</form>

<!-- Password Change Form -->
<button class="btn btn-link" id="changePwButton">Change Password</button>
<div id="changePwForm" style="display: none;">
    <form id="passwordForm" method="POST" action="{{ url_for('views.update_password') }}">
        {{ pw_form.hidden_tag() }}
        <div class="form-group">
            {{ pw_form.password.label }} <br>
            {{ pw_form.password(class='form-control') }}
            {% if pw_form.password.errors %}
                {% for error in pw_form.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ pw_form.confirm_password.label }} <br>
            {{ pw_form.confirm_password(class='form-control') }}
            {% if pw_form.confirm_password.errors %}
                {% for error in pw_form.confirm_password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ pw_form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>

<!-- Display User Comments -->
<section class="chats mt-4">
    <h2>Your Comments</h2>
    {% for chat in user.chats %}
        <div class="chat">
            <p>
                "{{ chat.data }}" - 
                <a href="{{ url_for('views.moviedetails', name=chat.movie_name) }}">{{ chat.movie_name }}</a>
            </p>
            {% if chat.img_path %}
                <img src="{{ url_for('static', filename=chat.img_path) }}" alt="Chat Image">
            {% endif %}
            <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-sm {% if chat.id in current_user.liked_chats %}btn-success{% else %}btn-outline-success{% endif %}">
                        👍 {{ chat.likes }}
                    </button>
                    <button type="submit" class="btn btn-sm {% if chat.id in current_user.disliked_chats %}btn-danger{% else %}btn-outline-danger{% endif %}">
                        👎 {{ chat.dislikes }}
                    </button>
            </div>
        </div>
    {% endfor %}
</section>



<!-- Display Liked and Disliked Comments -->
<section class="chats mt-4">
    <h2>Liked Comments</h2>
    {% for chat in liked_chats %}
        <div class="chat">
            <p>{{ chat.data }}</p>
        </div>
    {% endfor %}
    <h2>Disliked Comments</h2>
    {% for chat in disliked_chats %}
        <div class="chat">
            <p>{{ chat.data }}</p>
        </div>
    {% endfor %}
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        {% if name_email_form.errors or pw_form.errors %}
            $('#editProfileModal').modal('show');
        {% endif %}

        $('#changePwButton').click(function() {
            $('#changePwForm').toggle();
        });
    });
</script>
{% endblock %}
